---
import ContactCard from "../ContactCard.astro";
---

<section>
    <h2>CONTATTI</h2>
    <p>Scrivici per <strong>prenotare</strong> un tavolo o semplicemente <strong>chiederci</strong> qualcosa</p>

    <div class="contacts">
        <ContactCard
            title="Telefono"
            text="02 930 3103"
            icon=""
            url=""
        />
        <ContactCard
            title="Telefono"
            text="02 930 3103"
            icon=""
            url=""
        />
        <ContactCard
            title="Telefono"
            text="02 930 3103"
            icon=""
            url=""
        />
    </div>
</section>

<style>
    .contacts {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
</style>
