---
import ContactCard from "../ContactCard.astro";
---

<section>
    <h2>CONTATTI</h2>
    <p>Scrivici per <strong>prenotare</strong> un tavolo o semplicemente <strong>chiederci</strong> qualcosa</p>

    <div class="contacts">
        <ContactCard
            title="Telefono"
            text="02 930 3103"
            icon="bi bi-telephone-fill"
            url="tel:+39029303103"
        />
        <ContactCard
            title="Whatsapp"
            text="366 744 3406"
            icon="bi bi-whatsapp"
            url="https://wa.me/393667443406"
        />
        <ContactCard
            title="Email"
            text="nonloso@gmail.com"
            icon="bi bi-envelope-fill"
            url="mailto:nonloso@gmail.com"
        />
    </div>
</section>

<style>
    .contacts {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @media screen and (min-width: 1000px) {
        section {
            padding-bottom: 2.5rem;
        }
        .contacts {
            flex-direction: row;
        }
    }
</style>
