---
import Gallery from "../Gallery.astro";
---

<section>
    <h2>FOTO RECENTI</h2>
    <p>Esplora l'atmosfera unica del nostro locale: dalle vele sospese nella "Sala dell’Aria", agli angoli tranquilli della "Sala della Terra e dell'Acqua"</p>


</section>
