---
import { Image } from "astro:assets";
import heroImage from "../../assets/hero.jpg";
---

<section>
    <Image src={heroImage} alt="Mura Fusion Restauransfsnijeijnt" />

    <div>
        <h1>MURA FUSION RESTAURANT</h1>
        <p>CUCINA CINESE E GIAPPONESE</p>
        <a href="#">GUARDA I MENÙ</a>
    </div>
</section>

<style>
    section {

    }

    img {
        position: absolute;
        max-width: none;
        width: 100%;
        height: calc(60% - var(--header-height));
        top: var(--header-height);
        left: 0;
        object-fit: cover;
        object-position: 0% 0%;
        filter: brightness(50%);
    }

    div {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 35%;
        gap: 1rem;
        position: absolute;
        text-align: left;
    }
    h1 {
        max-width: calc(100% - 3rem);
        color: var(--white);
    }
    p {
        color: var(--white);
    }
    a {
        width: fit-content;
        padding: 1rem;
        color: var(--black);
        background: var(--white);
        text-decoration: none;
    }
</style>
