---
import { Image } from "astro:assets";
import heroImage from "../../assets/hero.jpg";
---

<section>
    <Image src={heroImage} alt="Mura Fusion Restaurant" />

    <div>
        <h1>MURA FUSION RESTAURANT</h1>
        <h2>CUCINA CINESE E GIAPPONESE</h2>
        <a href="#">GUARDA I MENÙ</a>
    </div>
</section>

<style>
    section {
        margin-bottom: calc(100vh - 3rem - var(--header-height));
    }
    img {
        position: absolute;
        max-width: none;
        width: 100%;
        height: calc(100% - var(--header-height));
        top: var(--header-height);
        left: 0;
        object-fit: cover;
        object-position: 0% 0%;
        filter: brightness(35%);
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: calc(100% - 2rem);
        top: 35%;
        left: 0;
        gap: 1rem;
        padding: 0 1rem;
        position: absolute;
        text-align: center;
    }
    h1 {
        max-width: calc(100% - 3rem);
        color: var(--accent);
        font-size: 2.1rem;
    }
    h2 {
        font-weight: 400;
        color: var(--white);
    }
    a {
        width: fit-content;
        padding: 1rem;
        color: var(--black);
        border: 2px solid var(--white);
        background: var(--white);
        text-decoration: none;
        transition: background 0.4s, color 0.4s;
    }
    a:hover {
        background: transparent;
        color: var(--white);
    }

    @media screen and (min-width: 1000px) {
        section {
            margin-bottom: calc(100vh - 10rem - var(--header-height));
        }

        div {
            text-align: left;
            gap: 2rem;
            align-items: start;
            top: 30%;
            left: 6rem;
            max-width: calc(100% - 8rem);
        }
        h1 {
            font-size: 5.8rem;
            color: var(--white);
        }
        h2 {
            font-size: 3.5rem;
        }
        a {
            padding: 1rem 3rem;
            font-size: 2.125rem;
        }
    }
</style>
