---
import { Image } from "astro:assets";
import review1Image from "../../assets/reviews/1.png";
import review2Image from "../../assets/reviews/2.png";
import review3Image from "../../assets/reviews/3.png";
---

<section>
    <h2>RECENSIONI</h2>
    <p>Scopri cosa dicono i nostri <strong>ospiti</strong> su Google Maps</p>

    <div class="reviews">
        <Image src={review1Image} alt="Recensione 1" />
        <Image src={review2Image} alt="Recensione 2" />
        <Image src={review3Image} alt="Recensione 3" />
    </div>

    <a class="button" href="https://maps.app.goo.gl/LRA9QWntuYdeg8r18">Leggile tutte</a>
</section>

<style>
    section {
        align-items: center;
    }
    .reviews {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    img {
        box-shadow: 17px 12px 12.2px 0px rgba(0, 0, 0, 0.25);
    }
    .button {
        text-decoration: none;
        color: var(--white);
        background: var(--accent);
        width: fit-content;
        padding: 1rem;
        font-weight: bold;
    }

    @media screen and (min-width: 1000px) {
        .reviews {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
</style>
