---
import TakeawayCard from "../TakeawayCard.astro";
---

<section>
    <h2>BOX TAKEAWAY</h2>
    <p>Per ordini superiori a <strong>30€</strong> sconto del <strong>15%</strong> (non applicato sulle box)</p>

    <div class="cards">
        <TakeawayCard
            title="SMALL"
            price="€27,90"
            description="5 piatti a scelta + 1 in regalo"
        />
        <TakeawayCard
            title="MEDIUM"
            price="€42,90"
            description="8 piatti a scelta + 2 in regalo"
        />
        <TakeawayCard
            title="BIG"
            price="€53,90"
            description="10 piatti a scelta + 2 in regalo"
        />
        <TakeawayCard
            title="SPECIAL PARTY"
            price="€79,90"
            description="15 piatti a scelta + 3 in regalo"
        />
        <TakeawayCard
            title="SUSHI PARTY x2 (40pz)"
            price="€32,00"
            description="12 nigiri misti, 16 uramaki, 10 hosomaki, 2 gunkan"
        />
        <TakeawayCard
            title="SPECIAL PARTY x3 (60pz)"
            price="€48,00"
            description="19 nigiri misti, 16 uramaki, 12 hosomaki, 4 gunkan, 9 sashimi"
        />
    </div>
</section>

<style>
    .cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @media screen and (min-width: 1000px) {
        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }
    }
</style>
