---
import Layout from "../layouts/Layout.astro";
import WhyUsSection from "../components/Sections/WhyUsSection.astro";
import ReviewsSection from "../components/Sections/ReviewsSection.astro";
import ContactsSection from "../components/Sections/ContactsSection.astro";
import CheckmarkListItem from "../components/CheckmarkListItem.astro";
import PageTitle from "../components/PageTitle.astro";
import TextImage from "../components/TextImage.astro";

import localeImage from "../assets/locale.jpg";
---

<Layout title="Mura Fusion Restaurant - Sushi All You Can Eat a Rho">
    <main>
        <PageTitle
            title="SU DI NOI"
            text1="HOME"
            text2="CHI SIAMO"
            url="/"
        />

        <TextImage img={localeImage} alt="Il nostro locale" reverse>
            <div class="about-us">
                <h2>LA NOSTRA STORIA</h2>
                <p>
                    Il ristorante giapponese Mura Fusion Restaurant si trova in
                    una vecchia palazzina <strong>liberty</strong>, in uno spazio ricco di
                    memoria nel quale <strong>oriente ed occidente si fondono</strong>. Il locale
                    dispone di tre sale, ognuna delle quali rappresenta un
                    <strong>elemento della natura</strong>.
                </p>
                <p>
                    Mura serve <strong>piatti orientali</strong> reinterpretati in chiave <strong>moderna</strong>
                    da chef e maestri del sushi <strong>selezionati</strong>, utilizzando <strong>materie
                    prime di qualità</strong>. Tra i piatti del menù si trovano il Mura
                    fruit, i Ravioli Shao Mai, il Sashimi Speciale e i Ramen.
                </p>
            </div>
        </TextImage>

        <WhyUsSection title="PERCHÉ MANGIARE DA NOI" img="/locale.jpg">
            <CheckmarkListItem>
                Parcheggio ampio interno gratuito
            </CheckmarkListItem>
            <CheckmarkListItem>
                Arredamento moderno e unico, adatto per famiglie, coppie e amici
            </CheckmarkListItem>
            <CheckmarkListItem>
                Zone privé per un'esperienza tranquilla e originale
            </CheckmarkListItem>
            <CheckmarkListItem>
                Ampia scelta di piatti, freschi e di qualità
            </CheckmarkListItem>
            <CheckmarkListItem>
                Il bagno, parcheggio, ingresso e i tavoli sono accessibili per chi è in sedia a rotelle
            </CheckmarkListItem>
        </WhyUsSection>

        <ReviewsSection />

        <ContactsSection />
    </main>
</Layout>

<style>
    .about-us {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }
    p {
        text-align: left;
    }
    
    @media screen and (min-width: 1000px) {
        .about-us p {
            font-size: 1.5rem;
        }
    }
</style>
