---
import Layout from "../layouts/Layout.astro";
import WhatsappIcon from "../components/WhatsappIcon.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Mura Fusion Restaurant - Sushi All You Can Eat a Rho">
    <main>
        <WhatsappIcon />
        <Header />
        <Hero />
    </main>
</Layout>
