---
import Layout from "../layouts/Layout.astro";
import MenuSection from "../components/Sections/MenuSection.astro";
import TakeawaySection from "../components/Sections/TakeawaySection.astro";
import WhyUsSection from "../components/Sections/WhyUsSection.astro";
import ReviewsSection from "../components/Sections/ReviewsSection.astro";
import GallerySection from "../components/Sections/GallerySection.astro";
---

<Layout title="Mura Fusion Restaurant - Sushi All You Can Eat a Rho">
    <main>
        <MenuSection />
        <TakeawaySection />
        <WhyUsSection />
        <ReviewsSection />
        <GallerySection />
    </main>
</Layout>
