---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Sections/Hero.astro";
import MenuSection from "../components/Sections/MenuSection.astro";
import TakeawaySection from "../components/Sections/TakeawaySection.astro";
import WhyUsSection from "../components/Sections/WhyUsSection.astro";
import ReviewsSection from "../components/Sections/ReviewsSection.astro";
import GallerySection from "../components/Sections/GallerySection.astro";
import ContactsSection from "../components/Sections/ContactsSection.astro";
import CheckmarkListItem from "../components/CheckmarkListItem.astro";
---

<Layout title="Mura Fusion Restaurant - Sushi All You Can Eat a Rho">
    <main>
        <Hero />

        <MenuSection title="I NOSTRI MENÙ" />
        <TakeawaySection />

        <WhyUsSection title="PERCHÉ MANGIARE DA NOI" img="/mura-fusion-restaurant-astro/locale.jpg">
            <CheckmarkListItem>
                <strong>Parcheggio</strong> ampio interno <strong>gratuito</strong>
            </CheckmarkListItem>
            <CheckmarkListItem>
                <strong>Arredamento moderno</strong> e unico, adatto per <strong>famiglie, coppie e amici</strong>
            </CheckmarkListItem>
            <CheckmarkListItem>
                <strong>Zone privé</strong> per un'esperienza tranquilla e originale
            </CheckmarkListItem>
            <CheckmarkListItem>
                Ampia scelta di <strong>piatti, freschi</strong> e di <strong>qualità</strong>
            </CheckmarkListItem>
            <CheckmarkListItem>
                Il bagno, parcheggio, ingresso e i tavoli sono accessibili per chi è in <strong>sedia a rotelle</strong>
            </CheckmarkListItem>
        </WhyUsSection>

        <ReviewsSection />

        <GallerySection />

        <ContactsSection />
    </main>
</Layout>
