---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
import TextImage from "../components/TextImage.astro";
import MenuSection from "../components/Sections/MenuSection.astro";
import TakeawaySection from "../components/Sections/TakeawaySection.astro";
import ContactsSection from "../components/Sections/ContactsSection.astro";
import WhyUsSection from "../components/Sections/WhyUsSection.astro";
import CheckmarkListItem from "../components/CheckmarkListItem.astro";

import sushi1Image from "../assets/sushi-1.png";
import sushi2Image from "../assets/sushi-2.png";
---

<Layout title="Mura Fusion Restaurant - Sushi All You Can Eat a Rho">
    <main>
        <PageTitle
            title="I NOSTRI MENÙ"
            text1="HOME"
            text2="MENÙ"
            url="/"
        />

        <TextImage img={sushi1Image} alt="Sushi" reverse>
            <div class="opening-days">
                <div>
                    <h2>ORARIO DI PRANZO</h2>
                    <p>Siamo aperti <strong>tutti i giorni</strong> con formula <strong>All You Can Eat</strong></p>
                </div>

                <div>
                    <h4><i class="bi bi-calendar-event"></i> Dal <strong>lunedì al venerdì</strong></h4>
                    <p>Pranza a 14,90€ +1€ di coperto, escluse bevande, caffè, liquori e dolci</p>
                    <p>I bambini di altezza inferiore ai 120 cm 10,00€ e i bambini inferiori ai 4 anni GRATIS</p>
                </div>

                <div>
                    <h4><i class="bi bi-calendar-event"></i> <strong>Sabato, domenica e festivi</strong></h4>
                    <p>Pranza a 20,90€ +1€ di coperto, escluse bevande, caffè, liquori e dolci</p>
                    <p>I bambini di altezza inferiore ai 120 cm 12,90€ e i bambini inferiori ai 4 anni GRATIS</p>
                </div>
            </div>
        </TextImage>

        <TextImage img={sushi2Image} alt="Sushi">
            <div class="opening-days">
                <div>
                    <h2>ORARIO DI CENA</h2>
                    <p>Cena tutte le sere con la formula <strong>All You Can Eat</strong></p>
                </div>

                <div>
                    <h4><i class="bi bi-calendar-event"></i> <strong>Tutti i giorni</strong></h4>
                    <p>Cena tutti i giorni a 28,90€ +2€ di coperto escluse bevande, caffè, liquori e dolci</p>
                    <p>I bambini di altezza inferiore ai 120 cm 14,90€ e i bambini inferiori ai 4 anni GRATIS</p>
                </div>
            </div>
        </TextImage>

        <MenuSection title="TUTTI I MENÙ" />
        <TakeawaySection />

        <WhyUsSection title="INFORMAZIONI AGGIUNTIVE" img="/locale-2.jpg">
            <CheckmarkListItem>
                Qualità degli ingredienti (pesce fresco giornaliero)
            </CheckmarkListItem>
            <CheckmarkListItem>
                Opzioni per celiaci e vegani
            </CheckmarkListItem>
            <CheckmarkListItem>
                Opzioni per chi non mangia sushi
            </CheckmarkListItem>
            <CheckmarkListItem>
                Salse ecc. disponibili
            </CheckmarkListItem>
        </WhyUsSection>

        <ContactsSection />
    </main>
</Layout>

<style>
    .opening-days {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .opening-days div {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
    .opening-days p, h4 {
        text-align: left;
    }
</style>
