---
import { Image } from "astro:assets";
import logoImage from "../assets/logo.png";
---

<footer>
    <Image class="logo" src={logoImage} alt="Mura Fusion Restaurant" />

    <p>
        Tutti i diritti sono riservati<br />
        p. iva 09854550960
    </p>
</footer>

<style>
    footer {
        display: flex;
        flex-direction: column;
        background: var(--black);
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }
    img {
        max-width: 7.5rem;
    }
    p {
        color: var(--white);
        text-align: center;
    }
</style>
