---
const { text, url } = Astro.props;
---

<div>
    <p>{text}</p>
    <a href={url}>Clicca qui</a>
</div>

<style>
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4.5rem;
        padding: 0 0.5rem;
        border: 0.125rem solid var(--white);
        background: var(--accent);
    }
    p {
        color: var(--white);
        font-weight: bold;
    }
    a {
        padding: 0.3rem;
        background: var(--white);
        border-radius: 1rem;
        color: var(--black);
        text-decoration: none;
    }
</style>
