<div id="modal">
    <h2>AVVISO</h2>
    <p><slot /></p>

    <button id="close" type="button">&times;</button>
</div>

<style>
    div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: calc(100vw - 4rem);
        height: calc(100vh - 4rem);
        top: 0;
        left: 0;
        padding: 2rem;
        background-color: rgba(0, 0, 0, 0.85);
        z-index: 1000;
    }
    p {
        color: var(--white);
        text-align: center;
    }
    button {
        position: absolute;
        top: 2rem;
        right: 2rem;
        background-color: transparent;
        border: 0;
        color: var(--white);
        font-size: 3rem;
        cursor: pointer;
    }

    @media (min-width: 768px) {
        p {
            font-size: 1.5rem;
        }
        button {
            top: 3rem;
            right: 10rem;
        }
    }
</style>

<script>
    function closeModal() {
        document.querySelector('#modal').remove();
    }

    document.querySelector('#close').addEventListener('click', closeModal);
</script>
