---
const { title, text1, text2, url } = Astro.props;
---

<section>
    <h2>{title}</h2>
    <h3><a href={url}>{text1}</a> | {text2}</h3>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        background: white;
    }
    
    h3, a {
        font-weight: 400;
    }
    a {
        text-decoration: none;
        color: var(--black);
    }
    a:hover {
        text-decoration: underline;
    }

    @media screen and (min-width: 1000px) {
        section {
            gap: 1rem;
        }

        h3, a {
            font-size: 1.5rem;
        }
    }
</style>
